<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head.ejs') %>
<body>

    <%-  include('./partials/nav.ejs') %>
    
    <div class="create-blog content">
        
        <form action="/memes/edit/<%= id %>" method="POST" >
            <h4 style="font-size: 25PX;">Meme Added By : <%= title %></H4>
            <!-- <label for="title">Meme title;</label>
            <input type="text"id="title" name="title" required> -->
            <label for="snippet">Meme snippet:</label>
            <input type="text"id="snippet" name="snippet" required>
            <label for="body">Meme URL:</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
            <img src="" alt="">
        </form>
    </div>
    <%-  include('./partials/footer.ejs') %>
</body>
</html>
